*{
    font-family: "Times New Roman", Times, serif;
}
/*POPUP*/
.popup{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  z-index: 9999;
  visibility: hidden;
}

.window {
    width: 445px;
 height: 335px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 8% auto;
}
  .window form{
    padding-top: 10px;
  }
/* Button Close */
.close-button {
 width: 40px;
 height: 37px;
 line-height: 36px;
 background: #2e6fa7;
 border-radius: 50%;
 border: 3px solid #fff;
 display: block;
 text-align: center;
 color: #fff;
 text-decoration: none;
 position: absolute;
 top: -10px;
 right: -10px;
 font-size: 20px;
}
.isi_des{
    /*background: black;*/
    height: 365px;
    width: 93%;
    margin-left: 14px;
    /*overflow-y: scroll;*/
    color: black;
    text-align: left;
}
 .isi_des .tb_detail{
  border-none;
 }
.tb_detail tr td{
 padding-left: 20px;
}
.jdl_detail{
 border-bottom: 3px solid #2e6fa7;
 color: #2e6fa7;
}
#bagian{
    margin: 0 auto;
    width: 1145px;
    height: auto;
}
#top{
    width: 857px;
    height: 250px;
    float: right;
    position: relative;
}
#top img{
    width: 857px;
    height: 250px;
}
#top p{
    position: absolute;
    color: white;
    font-size: 30px;
    top: -20px;
    left: 16px;
}
#sidebar{
    float: left;
    width: 280px;
    height: auto;
}
#sidebar img{
    width: 237px;
    height: 231px;
    margin-left: 30px;
}
#sidebar ul{
    border-radius: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    margin-left: 18px;
}
#sidebar li a{
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    border-bottom-style: dotted;
    text-decoration: none;
    border-bottom-color: #281e5a;
    border-bottom-width: thin;
}
#sidebar li a:hover{
    background-color: #281e5a;
    color: white;
}
.populer{
    background-color: #281e5a;
    width: 243px;
    margin-left: 22px;
    border-radius: 8px;
}
.populer p{
    color: white;
    padding: 10px;
    text-align: center;
}
#menu{
    margin-top: 7px;
    width: 857px;
    height: 43px;
    float: right;
}
#menu ul {
    border-radius: 3px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #281e5a;
}
#menu li{
    float: left;
}
#menu li a:hover {
    background-color: #2c1f6e;
}
#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#isi{
    margin-top: 8px;
    margin-bottom: 8px;
    width: 858px;
    height: auto;
    float: right;
    background: white;
    border-radius: 8px;
}
#isi h1{
    margin-left: 10px;
}
#isi p{
    margin-left: 25px;
}
.galeri {
    position: relative;
    margin-left: 10px;
    display: inline-block;
}
.galeri p a{
    color: black;
    text-decoration: none;
}
.galeri img{
    width: 200px;
    height: 200px
    margin-right: 7px;
}
#filter{
    border: none;
    background: #281e5a;
    color: white;
}
#footer{
    width: auto;
    height: 70px;
    background-color: #281e5a;
    border-radius: 8px;
}
#footer p {
    color:white;
    padding: 30px ;
    text-align: center;
}
#clear{
    clear: both;
}
nav ul {
    float: left;
    position: relative;
}
nav ul li {
    list-style: none;
}
#isi .button{
  background-color: #281e5a; 
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1px 2px;
  cursor: pointer;
}
  .kontak {
    border-radius: 5px;
    padding: 56px;
  }

  #0700fdbf
  #2c1f6e